In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import re
import os

In [2]:
codes = ['77777','77217','10824','74721','50405','12345','26301','38129','33534']

df77777 = pd.read_csv('pyktok_data/Sec2Gr3_77777.csv')
df77217 = pd.read_csv('pyktok_data/Sec2Gr3_77217.csv')
df10824 = pd.read_csv('pyktok_data/Sec1Gr1_10824.csv')
df74721 = pd.read_csv('pyktok_data/Sec2Gr3_74721.csv')
df50405 = pd.read_csv('pyktok_data/Sec1Gr1_50405.csv')
df12345 = pd.read_csv('pyktok_data/Sec1Gr1_12345.csv')
df26301 = pd.read_csv('pyktok_data/Sec1Gr2_26301.csv')
df38129 = pd.read_csv('pyktok_data/Sec1Gr2_38129.csv')
df33534 = pd.read_csv('pyktok_data/Sec1Gr2_33534.csv')

dfs = [df77777,df77217,df10824,df74721,df50405,df12345,df26301,df38129,df33534]

for code, df in zip(codes, dfs):
    print(f"User {code}, {len(df)}  videos")

User 77777, 482  videos
User 77217, 15424  videos
User 10824, 10999  videos
User 74721, 9009  videos
User 50405, 24288  videos
User 12345, 19102  videos
User 26301, 8068  videos
User 38129, 31  videos
User 33534, 7663  videos

In [3]:
for code, df in zip(codes, dfs): 
    df['user'] = code

all_dfs = pd.concat(dfs)
all_dfs.head()

,video_id,video_timestamp,video_duration,video_locationcreated,suggested_words,video_diggcount,video_sharecount,video_commentcount,video_playcount,video_description,...,author_username,author_name,author_followercount,author_followingcount,author_heartcount,author_videocount,author_diggcount,author_verified,user,Unnamed: 0
0,7273221955937914155,2023-08-30T16:56:01,37.0,US,"angels in tibet, angels in tibet dance, angels...",356300.0,5606.0,986.0,2000000.0,Replying to @jade🐉not perfect yet & i made a ...,...,thebeaulexx,beaulexx,NaN,NaN,NaN,NaN,NaN,False,77777,NaN
1,7273221955937914155,2023-08-30T16:56:01,37.0,US,"angels in tibet, angels in tibet dance, angels...",356300.0,5606.0,986.0,2000000.0,Replying to @jade🐉not perfect yet & i made a ...,...,thebeaulexx,beaulexx,NaN,NaN,NaN,NaN,NaN,False,77777,NaN
2,7283080657893379334,2023-09-26T06:32:40,15.0,PH,"angels in tibet, Jam Republic, angels in tibet...",419100.0,3518.0,708.0,2600000.0,🧠🧠🧠,...,clarkie_cpm,Clarkie,NaN,NaN,NaN,NaN,NaN,False,77777,NaN
3,7273221955937914155,2023-08-30T16:56:01,37.0,US,"angels in tibet, angels in tibet dance, angels...",356300.0,5606.0,986.0,2000000.0,Replying to @jade🐉not perfect yet & i made a ...,...,thebeaulexx,beaulexx,NaN,NaN,NaN,NaN,NaN,False,77777,NaN
4,7285397643725983008,2023-10-02T12:23:48,37.0,US,"Dream Academy, angels in tibet, Adela Dream Ac...",142700.0,1373.0,551.0,1000000.0,s/o to dream academy for teaching me how to da...,...,adelajergova,ADÉLA,NaN,NaN,NaN,NaN,NaN,False,77777,NaN

In [ ]:
ads77777 = df77777[df77777['video_is_ad']==True]
ads77217 = df77217[df77217['video_is_ad']==True]
ads10824 = df10824[df10824['video_is_ad']==True]
ads74721 = df74721[df74721['video_is_ad']==True]
ads50405 = df50405[df50405['video_is_ad']==True]
ads12345 = df12345[df12345['video_is_ad']==True]
ads26301 = df26301[df26301['video_is_ad']==True]
ads38129 = df38129[df38129['video_is_ad']==True]
ads33534 = df33534[df33534['video_is_ad']==True]

ads = [ads77777,ads77217,ads10824,ads74721,ads50405,ads12345,ads26301,ads38129,ads33534]